<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deez</title>
</head>
<body>
    <% messages.forEach(message => {  %>
        <p>Message Text: <%=message.text%></p>
        <p>Message Author: <%=message.user%></p>
        <p>Date: <%=message.added%></p>
        <br>
    <%}) %>
</body>
</html>